name: Java SonarCloud CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin

      - name: Build project
        run: mvn clean install -DskipTests
mvn clean install -DskipTests

      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@bbb169dca99d4930e2f5f5bfee0d9ccb2eb0e785
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=kushala-246_sonarqube-code-review
            -Dsonar.organization=kushala-246
            -Dsonar.sources=.
