name: Java SonarCloud CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # 2️⃣ Set up JDK
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin

      # 3️⃣ Build the project
      - name: Build with Maven
        run: mvn clean install -DskipTests

      # 4️⃣ Run SonarCloud analysis
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@e44258bd19e3f1a9c29869cb6a2c83f217db38b5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=kushala-246_sonarqube-code-review
            -Dsonar.organization=kushala-246
            -Dsonar.sources=.
