name: sonar

on:
  push:
    branches: [ main ]

jobs:
  sonarqube:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@v2
      env:
        SONAR_TOKEN: sqp_aa88306c2edb30a0755916d722bb438ed3f32eeb
        SONAR_HOST_URL: http://IBM-PF3KETF3:9000

      with:
        args: >
          -Dsonar.projectKey=sonar-java-app
          -Dsonar.sources=C:\sonar-test\sonar-test\src\main\java\ext\ibm\validators

     





