name: SonarQube Analysis

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:
  sonarqube:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Java (Windchill compatible)
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17

    - name: Install Ant
      run: sudo apt-get update && sudo apt-get install -y ant
      - name: List files in repo root
       run: ls -l
    # build.xml is inside Windchill/
    - name: Build using Ant
      run: ant clean compile
      working-directory: Windchill

    - name: SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@v2
      env:
        SONAR_TOKEN: sqp_aa88306c2edb30a0755916d722bb438ed3f32eeb
        SONAR_HOST_URL: http://sonarqube.ibm.com:9000
      with:
        args: >
          -Dsonar.projectKey=sonar-java-app
          -Dsonar.sources=Windchill/src
          -Dsonar.java.binaries=Windchill/build





