name: Windchill SonarQube Scan
on:
  push:
    branches: [ "main", "develop" ]
jobs:
  sonar:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 11   # Windchill compatible
    - name: Install Ant
      run: sudo apt-get install -y ant
    - name: Download Maven dependencies
      run: mvn dependency:copy-dependencies -DoutputDirectory=lib
    - name: Build using Ant
      run: ant clean compile
    - name: SonarQube Scan
      run: sonar-scanner
      env:
        SONAR_TOKEN: ${{ secrets.sqp_aa88306c2edb30a0755916d722bb438ed3f32eeb }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

 
